@use "./variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Jost:wght@400;700&display=swap');

@mixin antonio {
    font-family: "Antonio", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: v.$light;
}

@mixin jost {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin jost-bold-sm {
    @include jost;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 1.3px;
    color: rgba(v.$light, $alpha: .5);
    text-transform: uppercase;
}

@mixin jost-bold-md {
    @include jost-regular-md;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

@mixin jost-regular-md {
    @include jost;
    font-size: .9rem;
    line-height: 1.9;
    letter-spacing: .7px;
    color: v.$light;
}

@mixin antonio-sm {
    @include antonio;
    font-size: 1.25rem;

    @media screen and (min-width: v.$screen-md) {
        @include antonio-md;
    }
}

@mixin antonio-md {
    @include antonio;
    font-size: 1.75rem;
    letter-spacing: -.5px;
}

@mixin antonio-lg {
    @include antonio;
    font-size: 2.7rem;
    letter-spacing: -.5px;

    @media screen and (min-width: v.$screen-md) {
        font-size: 3rem;
    }
}


